<h4 class="text-center">My Favourites</h4>
<br>

<table class="table">
  <tbody>
    {{#each allApods as |apod|}}
    <tr>
      <td><img src="{{apod.image}}" alt="{{apod.title}}" class="img-fluid img-thumbnail border-1 rounded"></td>
      <td>{{apod.title}}</td>
      <td><form action="/apods/{{apod._id}}"method="get">
      <button class="btn btn-info btn-sm">View</button>
    </form></td>
    <td>
      <form action="/apods/{{apod._id}}/edit" method="get">
    <button class="btn btn-warning btn-sm">Edit</button>
      </form>
    </td>
    <td>
      <form action="/apods/{{apod.id }}?_method=delete" method="post">
      <button class="btn btn-danger btn-sm">Delete</button>
      </form>
    </td>
  </tr>
    {{/each}}
  </tbody>
</table>
