<h4 class="text-left">{{apod.title}}</h4>
<br>
<p class="lead">{{apod.description}}</p>
<br>
<img src="{{apod.image}}" alt="{{apod.title}}" class="img-fluid rounded text-center" >
<br>
<p class="text-right"><small> {{apod.date}}</small></p>
<br>
